{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Second Round
{% endblock %}

{% block content %}

    <div align="center">
        <img src="{% static 'noa_shared/room_diagram_second_round.png' %}" height="150">
    </div>
    <p>
        Welcome to the second round of the game, where you can earn money if this round is selected for payout.
    </p>
    
    {% formfield player.action2_b %}

    <p>Please click ‘next’ to continue.</p>
    {% next_button %}

    {% include "noa_shared/ShortInstructions.html" %}

{% endblock %}
