{% load otree static %}
<div class="card bg-light" id="payoff_reminder">
    <div class="card-body">
        <p>
            Remember: Your payoff is jointly determined by:
        </p>
        <ul>
            <li>whether a red or a green ball is drawn from an urn containing {{ group.red_balls }} red and {{ group.green_balls }} green balls,</li>
            <li>whether your action is A or B, and</li>
            <li>whether your co-player's action is A or B.</li>
        </ul>

        {% if group.announce_q %}
            <p>
                Typically, co-players choose action <b>A</b> in about {{ group.green_balls }} out of 100 cases and action <b>B</b> in about {{ group.red_balls }} out of 100 cases.
            </p>
        {% endif %}
        <p>
            If a green ball is drawn, and:
        </p>
        <ul>
            <li>your action is A, and your co-player chooses A: You receive {{ 1|c }}. Your co-player receives {{ 1|c }}.</li>
            <li>your action is A, and your co-player chooses B: You receive {{ 1|c }}. Your co-player receives {{ group.max_pay }}.</li>
            <li>your action is B, and your co-player chooses A: You receive {{ group.max_pay }}. Your co-player receives {{ 1|c }}.</li>
            <li>your action is B, and your co-player chooses B: You receive nothing ({{ 0|c }}). Your co-player receives nothing ({{ 0|c }}).</li>
        </ul>
        <p>
            If a red ball is drawn, you and your co-player both receive nothing ({{ 0|c }}).
        </p>
    </div>
</div>
