{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Rules
{% endblock %}

{% block content %}
    <p>
        You will be a player in a game. Here are the rules. 
    </p>
    <p>
        There is the player, a co-player, and a virtual urn that contains 100 balls, some red, some green. 
    </p>

    <p>
        For each player, three factors together determine the payoff:
        <ol>
            <li>The draw of a ball from the urn,</li>
            <li>the player's own action, and</li>
            <li>their co-player’s action.</li>
        </ol>
    </p>
    
    <p>
        The player and the co-player take one of two actions, either <b>A</b> or <b>B</b>. The urn from which the ball is drawn contains {{ group.red_balls }} <b>red</b> balls and {{ group.green_balls }} <b>green</b> balls. Both player and co-player learn their payoff at the end of the round.
    </p>
    
    
    <p>
        If a <b>red</b> ball is drawn, the actions of the player and the co-player do not matter for the outcome.  The player receives nothing ({{ 0|c }}). So does the co-player ({{ 0|c }}).
    </p>
    <p>
        If a green ball is drawn, then the actions of the player and the co-player matter for the outcome. There are four possibilities:
        <ul>
            <li>A <b>green</b> ball is drawn and the player’s <b>action is A</b> and the <b>co-player’s action is A</b>: The player receives {{ 1|c }}. So does the co-player ({{ 1|c }}).</li>
            <li>A <b>green</b> ball is drawn and the player’s <b>action is A</b> and the <b>co-player’s action is B</b>: The player receives {{ 1|c }}. The co-player receives {{ group.max_pay }}.</li>
            <li>A <b>green</b> ball is drawn and the player’s <b>action is B</b> and the <b>co-player’s action is A</b>: The player receives {{ group.max_pay }}. The co-player receives {{ 1|c }}.</li>
            <li>A <b>green</b> ball is drawn and the player’s <b>action is B</b> and the <b>co-player’s action is B</b>: The player receives nothing ({{ 0|c }}). So does the co-player ({{ 0|c }}).</li>
        </ul>
    </p>

    {% if group.announce_q %}
    <p>
        Typically, co-players choose action <b>A</b> in about {{ group.green_balls }} out of 100 cases and action <b>B</b> in about {{ group.red_balls }} out of 100 cases.
    </p>
    {% endif %}
    
    {% next_button %}

{% endblock %}