{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey
{% endblock %}

{% block styles %}
    <style type="text/css">
        #comments {
            height: 5em;
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div align="center">
        <img height="150" src="{% static 'noa_shared/room_diagram_survey.png' %}">
    </div>
    <p>
        Welcome to the survey. We ask you to answer a few questions before you complete the experiment.
    </p>
    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}
